@import "tailwindcss";

@tailwind utilities;


@theme { 
  --color-dark-violet: #231C26;        
  --breakpoint-mdd: 55rem;
}

html {
  background-color: #0d0f13 ;
  font-family: "DM Sans", serif;
  color: rgb(214, 217, 223)
}

